* {
  box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Aclonica", sans-serif;
   /* background-color: #002254; */
  }
  
  .middle-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 85vh;
      gap: 40px;
     padding: 0;
      background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  }
  
  .heading1 {
      margin: 5rem 1rem 0 0;
      background: linear-gradient(to right, purple, black, red, blue);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      text-shadow: 1px 1px 5px purple;
      letter-spacing: 2px;
  }
  
  .destinations-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      text-align: center;
      /* padding: 2rem 2rem 0 0; */
      /* margin-bottom: 1.5rem;; */
  }
  
  .destinations-div > div {
      border-radius: 5px;
      /* padding: 1rem; */
  }
  
  .destinations-div > div > img {
     width: 350px; 
     height: 300px;
  }
  
  .destinations-div > div > p{
     color: red;
   }
  
  .destinations-div > div:hover {
      border: 2px solid rgb(29, 29, 74);
      box-shadow: 1px 1px 5px rgb(29, 29, 74);
  }
  
  .about-div {
      padding: 1rem 3rem;
      text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgb(40, 40, 77);
     color: white;
     box-shadow: 0 0 10px rgb(40, 40, 77) ;
  
  }
  
  .about-div > h2 {
      letter-spacing: 3px;
      margin: 1rem 0;
  }
  
  .about-div > p {
      width: 70%;
      margin: 0.5rem 0;
  }
  